.btn-init{
    color: black;
    background-color: #fcdd8a;
}
.pad-btn{
    padding-top: 50px;
}
.pad-txt{
    text-align-last: right;
    padding-top:25px;
}


.container-text{
    top: 30% !important;
    left:auto !important
}