
<!-- Toolbar -->
<mat-toolbar class="custom-toolbar">
  
  <mat-toolbar-row class="first-toolbar" style="justify-content: center;">
    
    <div fxLayout="row" fxLayoutAlign="center center">
      <div style="display: inline-block; margin-right: 15px;">
        <span>ENTRE EM CONTATO CONOSCO</span>
      </div>
      <div style="display: inline-block; margin: auto;">
        <mat-icon aria-hidden="false" style="font-size: 12px;">arrow_forward</mat-icon>
      </div>
      <div style="display: inline-block;">
        <span style="display: inline-block; margin-left: 0px; margin-right: 15px; color: #fcdd8a;">(31) 93333-3333</span>
        <span class="circle"></span>
        <span style="display: inline-block; margin-left: 15px; margin-right: 15px; color: #fcdd8a;">(31) 3333-3333</span>
        <span class="circle"></span>
        <span style="display: inline-block; margin-left: 15px; color:#fcdd8a;">comercial@comercial.com.br</span>
      </div>
    </div>

  </mat-toolbar-row>

  <mat-toolbar-row style="justify-content: center;">
    
    <img width="200" src=" ../assets/Images/logo-branca.png"/>
  
      <div class="example-button-row">
        <!-- Simple who we are button-->
        <button mat-button style="color: white;">QUEM SOMOS</button>
        <!-- Button Gandolas list-->
        <button mat-button [matMenuTriggerFor]="gandolas" style="color: white;">GÔNDOLAS</button>
        <mat-menu #gandolas="matMenu" yPosition="below">
          <button mat-menu-item>GÔNDOLAS 1</button>
          <button mat-menu-item>GÔNDOLAS 2</button>
        </mat-menu>
        <!-- Button MOVEIS list-->
        <button mat-button [matMenuTriggerFor]="moveis" style="color: white;">MÓVEIS DE AÇO</button>
        <mat-menu #moveis="matMenu" yPosition="below">
          <button mat-menu-item>MÓVEIS DE AÇO 1</button>
          <button mat-menu-item>MÓVEIS DE AÇO 2</button>
        </mat-menu>
        <!-- Button ARMAZEM list-->
        <button mat-button [matMenuTriggerFor]="armazenagem" style="color: white;">ARMAZENAGEM</button>
        <mat-menu #armazenagem="matMenu" yPosition="below">
          <button mat-menu-item>ARMAZENAGEM 1</button>
          <button mat-menu-item>ARMAZENAGEM 2</button>
        </mat-menu>
        <!-- Simple contact button-->
        <button mat-button style="color: white;">CONTATO</button>
        
      </div>
  
  </mat-toolbar-row>

</mat-toolbar>

<!--Component carousel intro-->
<div class="intro-container">
  <carousel-presentation></carousel-presentation>
</div>

<!-- Choose one-->
<div class="choose-one-container">
  
  <div class="choose-one child-1">
    <div style="color: #fcdd8a; font-weight: bold;height: 100%;">
      <div style="padding: 20px;">
        <span>Quer ser um colaborador ou</span><br><span>representante?</span>
      </div>
      <div class="example-button-row">
        <button class="btn-chooce-one" mat-stroked-button>PREENCHA SEUS DADOS</button>
      </div>
    </div>
  </div>

  <div class="choose-one child-2">
    <div style="color: #fcdd8a; font-weight: bold;height: 100%;">
      <div style="padding: 20px;">
        <span>Venda exclusiva para</span><br><span>lojistas através do whatsApp?</span>
      </div>
      <div class="example-button-row">
        <button class="btn-chooce-one" mat-stroked-button>CONVERSE COM A GENTE</button>
      </div>
    </div>
  </div>

  <div class="choose-one child-3">
    <div style="color: #fcdd8a; font-weight: bold;height: 100%;">
      <div style="padding: 20px;">  
        <span>Gostou de alguns dos</span><br><span>nossos produtos?</span>
      </div>
      <div class="example-button-row">
        <button class="btn-chooce-one" mat-stroked-button>FAÇA SEU ORÇAMENTO</button>
      </div>
    </div>
  </div>

  <div class="choose-one child-4">
    <div style="color: #fcdd8a; font-weight: bold;height: 100%;">
      <div style="padding: 20px;">
        <span>SEJA UM REVENDEDOR</span><br><span>AGORA MESMO!</span>
      </div>
      <div class="example-button-row">
        <button class="btn-chooce-one" mat-stroked-button>FAÇA SEU CADASTRO</button>
      </div>
    </div>
  </div>

</div>

<!-- Our Products-->
<div class="intro-container">
  <carousel-presentation></carousel-presentation>
</div>

<!-- Make a budget-->
<div class="make-budget-container" style="background-color: white;">
  <make-budget style="margin: auto; display: grid; grid-template-columns: 1fr 1fr;"></make-budget>  
</div>

<!-- Be a salesperson-->
<div class="intro-container be-sales">
  <be-salesperson fxlayout="column" style="margin: auto; width: 1000px;"></be-salesperson>
</div>

<!-- Contact-->
<div class="intro-container" style="background-color: #1b1614;">
  contato
</div>

<!-- Footer -->
<footer >
    Love Angular?&nbsp;
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
      <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        Star
      </div>
    </a>
</footer>

<router-outlet></router-outlet>