<div fxLayout="row" fxLayoutAlign="space-around center">

    <div style="display: inline-block;">
        <span>TEXTO</span>
    </div>
    
    
    
    <div style="display: inline-block;">
        <form>
            
            <div fxLayout="row" fxLayoutAlign="space-around center">
                
                <div class="form-group" style="display: inline-block;">
                    <label for="exampleInputPassword1" style="color: white;">Nome*</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
        
                <div class="form-group" style="display: inline-block; margin-left: 10px;">
                    <label for="exampleInputPassword1" style="color: white;">Sobrenome*</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1" style="color: white;">Email*</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        
            <div fxLayout="row" fxLayoutAlign="space-around center"  >
                
                <div class="form-group" style="display: inline-block;">
                    <label for="exampleInputPassword1" style="color: white;">Telefone*</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
        
                <div class="form-group" style="display: inline-block; margin-left: 10px;">
                    <label for="exampleInputPassword1" style="color: white;">Link para seu curriculo*</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
    </div>  


</div>