<div>
    <img width="200" src=" ../assets/Images/call-wpp.png"/>
</div>

<div fxLayout="column" fxLayoutAlign="space-around center" style="margin-left: 50px; margin-top: 50px;">
    <div>
        <b style="font-size: 30px;">SOLICITE SEU ORÇAMENTO</b><br>
        <b style="font-size: 30px;">PELO WHATSAPP</b><br>
    </div>
    <div style="margin-top: 20px;">
        <span>Venda exclusiva para lojistas</span>
    </div>
    <div class="example-button-row" style="margin-top: 20px;">
        <button class="btn-talk-to-us" mat-raised-button>CONVERSE COM A GENTE</button>
    </div>
</div>
