

<div>
    
    <div style="padding-bottom: 50px;">
        <img width="200" src=" ../assets/Images/logo-branca.png"/>
    </div>

    <!-- div com duas colunas-->
    <div style="margin: auto; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; color: gray;">

        <div>
            <div class="text-lines"><a href="https://www.bertholdo.com.br" style="color: gray;">QUEM SOMOS</a></div>
            <div class="text-lines"><a href="https://www.bertholdo.com.br" style="color: gray;">GÔNDOLAS</a></div>
            <div class="text-lines"><a href="https://www.bertholdo.com.br" style="color: gray;">MÓVEIS DE AÇO</a></div>
            <div class="text-lines"><a href="https://www.bertholdo.com.br" style="color: gray;">ARMAZENAGEM</a></div>
            <div class="text-lines"><a href="https://www.bertholdo.com.br" style="color: gray;">CONTATO</a></div>
        </div>

        <div>
            
            <div>
                <div class="text-lines"><a href="https://www.bertholdo.com.br" style="color: gray;">FAÇA SEU ORÇAMENTO</a></div>
                <div class="text-lines"><a href="https://www.bertholdo.com.br" style="color: gray;">SEJA UM COLABORADOR</a></div>
            </div>    
        
            <div>
                <div>
                    <b style="color: white;">SIGA-NOS NAS REDES</b>
                </div>
                <div style="margin-top: 15px;">
                    <div class="icons-social-midia" style="margin-right: 10px;">
                        <button mat-icon-button>
                            <mat-icon svgIcon="facebook" aria-hidden="false"></mat-icon>
                        </button>
                    </div>
                    <div class="icons-social-midia">
                        <button mat-icon-button>
                            <mat-icon svgIcon="instagram" aria-hidden="false"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>    
        </div>

        <div>
            <div class="text-lines-address"><b>LOJA <span class="circle"></span> BH(a 5km do centro!)</b></div>
            <div class="text-lines-address"><span>Av. Professor Mário Werneck, 26 - 2° Andar</span><br></div>
            <div class="text-lines-address"><span>Belo Horizonte - MG, CEP: 30455-610</span><br></div>
            <div class="text-lines-address"><span>comercial@comercial.com.br</span> <br></div>
            <div class="text-lines-address">
                <mat-icon class="icon-phones" aria-hidden="false">local_phone</mat-icon><span style="color: #fcdd8a;">(31) 3333-3333</span><br>
                <mat-icon class="icon-phones" aria-hidden="false">smartphone</mat-icon><span style="color: #fcdd8a;">(31) 93333-3333</span>
            </div>
        </div>

        <div style="margin-left: 30px;">
            <div class="text-lines-address"><b>LOJA <span class="circle"></span> BH(a 5km do centro!)</b></div>
            <div class="text-lines-address"><span>Av. Professor Mário Werneck, 26 - 2° Andar</span><br></div>
            <div class="text-lines-address"><span>Belo Horizonte - MG, CEP: 30455-610</span><br></div>
            <div class="text-lines-address"><span>comercial@comercial.com.br</span> <br></div>
            <div class="text-lines-address">
                <mat-icon class="icon-phones" aria-hidden="false">local_phone</mat-icon><span style="color: #fcdd8a;">(31) 3333-3333</span><br>
                <mat-icon class="icon-phones" aria-hidden="false">smartphone</mat-icon><span style="color: #fcdd8a;">(31) 93333-3333</span>
            </div>
        </div>
    
    </div>



</div>