

<div>
    
    <div>
        <img width="200" src=" ../assets/Images/logo-branca.png"/>
    </div>

    <!-- div com duas colunas-->
    <div style="margin: auto; display: grid; grid-template-columns: 1fr 1fr;">

        <div>
            
            <a>QUEM SOMOS</a><br>
            <a>GÔNDOLAS</a><br>
            <a>MÓVEIS DE AÇO</a><br>
            <a>ARMAZENAGEM</a><br>
            <a>CONTATO</a><br>

        </div>

        <div>
            
            <div>
                <a>FAÇA SEU ORÇAMENTO</a><br>
                <a>SEJA UM COLABORADOR</a><br>
            </div>    
        
            <div>
                <span>SIGA-NOS NAS REDES</span>

            </div>    
        
        </div>
    
    
    </div>



</div>

<div>
    

    <!-- div com duas colunas -->
    <div style="margin: auto; display: grid; grid-template-columns: 1fr 1fr;">

        <div>
            <span>LOJA - BH(a 5km do centro!)</span><br>
            <span>Av. Professor Mário Werneck, 26 - 2° Andar</span><br>
            <span>Belo Horizonte - MG, CEP: 30455-610</span><br>
            <span>comercial@comercial.com.br</span> <br>
            <mat-icon aria-hidden="false" aria-label="Example home icon">local_phone</mat-icon><br>
            <mat-icon aria-hidden="false" aria-label="Example home icon">smartphone</mat-icon>
        </div>

        <div>
            <span>LOJA - BH(a 5km do centro!)</span><br>
            <span>Av. Professor Mário Werneck, 26 - 2° Andar</span><br>
            <span>Belo Horizonte - MG, CEP: 30455-610</span><br>
            <span>comercial@comercial.com.br</span> <br>
            <mat-icon aria-hidden="false" aria-label="Example home icon">local_phone</mat-icon><br>
            <mat-icon aria-hidden="false" aria-label="Example home icon">smartphone</mat-icon>
        </div>

    </div>



</div>