.icon-phones{
    color:#fcdd8a;
    font-size: 12px;
}


.text-lines{
    padding-bottom: 5px;
    color: gray;
}
.text-lines-address{
    padding-bottom: 5px;
    color: white;
}

.circle:before {
    content: ' \25CF ';
    font-size: 10px;
}